@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid carousel-container">
    <div class="container-fluid home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(./plugins/carousel-01/images/mockup1.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center actor-item">
                            <h2>Best Place to Travel</h2>
                            <h1 class="mb-3">Norway</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(./plugins/carousel-01/images/mockup2.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center actor-item">
                            <h2>Best Place to Travel</h2>
                            <h1 class="mb-3">Japan</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(./plugins/carousel-01/images/mockup3.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center actor-item">
                            <h2>Best Place to Travel</h2>
                            <h1 class="mb-3">Singapore</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

<div class="container">
    <h1 class="actor-list-header text-center actor-item mb-4">Actor List</h1>
    <div class="row actor-list">
        <!-- Actor 1 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 1" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 2 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 2" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 3 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 3" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 4 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 4" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 5 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 5" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 6 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 6" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 7 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 7" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
        <!-- Actor 8 -->
        <div class="col-md-3 col-6 text-center actor-item">
            <div class="image">
                <a href="#">
                    <img src="assets/img/ngo-lan-huong.jpg" alt="Actor 8" class="actor-image">
                </a>
            </div>
            <div class="info">
                <h3 class="title"><a href="#" title="Dán sứ Veneer Emax">Dán sứ Veneer Emax</a></h3>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3">

    </main>
</div>