<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nha Khoa Nhiên 86</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar-mega.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NhienDentistry.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm box-top">
            <div class="container">
                <div class="col-sm-6 d-flex">
                    <div class="hotline">
                        <i class="bi bi-telephone-inbound"></i> <!-- Inbound call icon -->
                        <span class="item">Hà Nội: <a href="tel:19009999">1900 9999</a></span>
                        <span class="item item-after">TP.Hồ Chí Minh: <a href="tel:1900 9991">1900 9991</a></span>
                    </div>
                </div>
                <div class="col-sm-6 d-flex flex-row-reverse">
                    <div class="social item-after">
                        <span style="padding-right: 5px;">Liên hệ: </span>
                        <a href="https://www.facebook.com/nhakhoanhien86" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/nhakhoanhien86" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/nhakhoanhien86" target="_blank">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                    <div class="open">
                        <span class="item">Giờ mở cửa: <span>8h00 - 20h00</span></span>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar s-navbar-mega navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand logo-brand" asp-area="" asp-controller="Home" asp-action="index">
                    <img src="assets/logo/LOGO.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Privacy" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Privacy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="text-uppercase text-white">Category 1</span>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <a target="_blank" href="https://bootstrapcreative.com/resources/a-beginners-guide-to-hubspot-cms/">
                                            <img src="https://i0.wp.com/bootstrapcreative.com/wp-bc/wp-content/uploads/2022/07/beginners-guide-to-hubspot-cms-cover.png?w=200&ssl=1" alt="Web Design Guides" class="img-fluid">
                                        </a>
                                        <p class="text-white">Get Free Guides</p>

                                    </div>
                                    <!-- /.col-md-4  -->
                                </div>
                            </div>
                            <!--  /.container  -->


                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category 1
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="text-uppercase text-white">Category 2</span>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <a target="_blank" href="https://bootstrapcreative.com/shop/jake-portfolio-hubspot-theme/">
                                            <img src="https://i0.wp.com/bootstrapcreative.com/wp-bc/wp-content/uploads/2022/01/jake-portfolio-cover.jpg?w=200&ssl=1" alt="Portfolio Website Templates" class="img-fluid">
                                        </a>
                                        <p class="text-white">Create a Portfolio Website Fast</p>

                                    </div>
                                    <!-- /.col-md-4  -->
                                </div>
                            </div>
                            <!--  /.container  -->


                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category 3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="text-uppercase text-white">Category 3</span>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Link item</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.col-md-4  -->
                                    <div class="col-md-4">

                                        <a target="_blank" href="https://bootstrapcreative.com/resources/">
                                            <img src="https://i0.wp.com/bootstrapcreative.com/wp-bc/wp-content/uploads/2020/09/Filtered-Paint-Image-Instagram-Square.png?w=200&ssl=1" alt="Web Design Resources" class="img-fluid">
                                        </a>
                                        <p class="text-white">Free Web Design Resources</p>

                                    </div>
                                    <!-- /.col-md-4  -->
                                </div>
                            </div>
                            <!--  /.container  -->


                        </div>
                    </li>

                </ul>
            </div>
            </div>

        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NhienDentistry.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar-mega.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
